# Logs
*.log

# Dependency directories
node_modules/
dist

# vscode 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace

.idea

# Cache file creation bug
.yarn/cache/*
.yarn/sdks/eslint/*
.yarn/sdks/prettier/*
.yarn/install-state.gz
.yarn/build-state.url
.yarn/releases.gz

# yarn 
.pnp.*
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
!.yarn/cache

# Options and credentials for the bot
src/config/options.ts

lib/badlinks-secret.json5
