# Logs
*.log

# Dependency directories
node_modules/
dist

# vscode 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
*.code-workspace

.idea

# yarn 
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Options and credentials for the bot
src/config/options.ts
config/options.ts

src/lib/badlinks-secret.ts
