name: Node.js CI

on:
  push:
    branches: [v2]
  pull_request:
    branches: [v2]

  workflow_dispatch:

jobs:
  Test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: yarn
      - name: Fix config
        run: cp src/config/example-options.ts src/config/options.ts
      - name: ESLint
        run: yarn lint
      - name: Test Build
        run: yarn build
      - name: Test formatting
        run: yarn prettier --check .
